<div class="text-center jumbotron">   
    <h1>Welcome to the Playlist Voter</h1>
    <h2>This is the Home Page</h2>
    <h4>You can:</h4>
    <ul>
    <li>See the hottest playlist</li>
    <li>Sign Up</li>
    </ul>
</div>