/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/functions"; 
@import "bootstrap/scss/variables";
$theme-colors: ( 
    default: #999999,
    primary: rgb(228, 177, 59),
    secondary: #B73C50,
    info: rgb(24, 26, 39),
    success: rgb(122, 176, 74),
    warning: rgb(247, 160, 18),
    danger: rgb(244, 67, 54),
    dark: #3C4858,
    light: #F9F7F6,
    light_shades: #F9F7F6,
    light_accent: #B58EA3,
    main: #DFB23A,
    dark_accent: #B73C50,
    dark_shades: #292D49
    );
@import "bootstrap";
